<button id="get-sports">Get NY Post Sports News!

</button>

<ol>
    {{#each response}}
    <li>
        <h5>
            {{this.title}}
            <a href={{this.link}}>Visit the article</a>
        </h5>
    </li>
    {{/each}}
</ol>